body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffff;
  font-size: ;
}
header {
  font-weight: 500;
  background-color: #e7e9fc;
  color: #434455;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.log {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.studio {
  color: #2e2f42;
}
.link {
  color: #2e2f42;
}
.link:hover {
  color: #404bbf;
}
.link:focus {
  color: #404bbf;
}
.address {
  font-style: normal;
}
.link-address {
  color: #434455;
}
.link-address:hover {
  color: #404bbf;
}
.link-address:focus {
  color: #404bbf;
}
.sec {
  background-color: #2e2f42;
  color: #ffff;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}
.effective {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}
.but-link {
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}
.but-link:hover {
  background-color: #404bbf;
}
.but-link:focus {
  background-color: #404bbf;
}
.two {
}
